.recipes__view {
  background-color: #fff;
  height: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
  margin-bottom: 3rem;
}

.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards__addNew {
  width: 100vw;
  display: flex;
  justify-content: center
}

