
.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration-color: white;
}

.header {
  height: 10vh;
  width: 100%;
  background-color: rgb(98, 137, 172);
}

.main__field {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(37, 32, 52);
}

.form__wrapper {
  height: 80vh;
  width: 100vw;
  align-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text__input {
  height: 30px;
  width: 50vw;
}

.name__field {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  background-color: rgb(37, 32, 52);
}

.ingredient__selector {
  display: none;
}

.name__field button:hover {
  border: 2px;
  border-radius: 5px;
  border-style: solid;
  border-color: orange;
}

.selected-ingredients{
  width: 100vw;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.selected

.slider-wrapper.axis-horizontal {
  width: 100vw;
}

.carousel.carousel-slider {
    position: relative;
    height: 100%;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    color: inherit;
    background-color: rgb(37, 32, 52);
}

.slider-wrapper {
  max-width: 100vw;
  background-color: rgb(37, 32, 52);

}

li.carousel.slide {
  width: 100vw;
  height: 100%;
  background-color: rgb(37, 32, 52);
}

.slide .selected {
    width: 100vw;
    background-color: rgb(37, 32, 52);
}

.navigation__buttons {
  height: 10vh;
  width: 100%;
  background-color: rgb(98, 137, 172);
}

.input__header {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  height: 5vh;
  width: 100%;
}

.ready__instructions {
  color: white;
}

ul.control-dots {
  padding: 0;
  height: 2vh;
}

.ingredient__field {
  margin: 2.5%;
  height: 27vw;
  width: 20vw;
  background-color: rgb(230, 154, 118);
  border: 4px;
  border-radius: 10px;
  border-style: outset;
  border-color: rgb(233, 182, 129)

}

.ingredient__image {
  height: 20vw;
  width: 20vw;
  border-radius: 10px;
}

.button__add__ready {
  margin-top: 1%;
  margin-bottom: 0;
  width: 20vw;
  padding: 0;
  background-color: rgb(230, 154, 118);
  color: rgb(37, 32, 52);
}

.input__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__content {
  height: 62.5vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.carousel.carousel-slider .control-arrow {
  position: absolute !important;
  top: 66.55vh !important;
  height: 15vh;
}

.instruction__text {
  color: rgb(230, 154, 118);
  font-weight: bold;
  margin-top: 2.5%;
  font-size: 1.4em;
}

.user__input {
  height: 10vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.ingredient__description {
  font-weight: bold;
  color: rgb(37, 32, 52);
}

.recipe__name {
  font-weight: bold;
  color: rgb(230, 154, 118);
  margin-top: 50%;
}

.list__numbered {
  font-size: 1.2em;
  margin-top: 3vh;
  font-weight: bold;
  text-align: left;
  list-style-type: upper-roman;
  color: rgb(230, 154, 118);
}

.recepe__review__name {
  font-weight: bold;
  color: rgb(230, 154, 118);
}
