.list {
  height: 100vh;
  overflow: scroll;
  background-color: #fff;
}

.ant-list-bordered {
  border-radius: 0;
  border: 0;
}

.list__image {
  height: 10rem;
  width: auto;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.ant-checkbox {
  background-color: #f3f2ea
}

.list__title h2 {
  font-weight: bold;
  font-size: 1.3rem;
  padding-top: 10px;
  padding-left: 10px;
}

.list__list {
  padding-bottom: 2.5rem;
  overflow: scroll;
}

.list__list--header {
  color: #e69b76;
  display: flex;
  align-items: center;
}

.list__list--header img {
  max-width: 25px;
  margin-right: 10px;
}

.list__image--title h2 {
  font-size: 1.8rem;
  font-weight: 200;
  color: #fafafa;
  padding: 1rem;
}

.list__list .ant-list {
  border-top: 1px solid black;
}

.list__list .ant-list-header {
  font-weight: bold;
  background-color: #fff
}