.ant-layout-header {
  padding: 0 2rem;
  display: flex;
  max-height: 3rem;
}

.topbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.topbar__logo {
  height: 60px;
  width: 200px;
  align-items: end;
  display: flex;
}

.topbar__logo h2 {
  color: #e69b76;
}

.topbar__logo img {
  max-height: 50%;
}

.topbar__options {
  font-size: 2rem;
  color: #e69b76
}