.planning__image--title h2 {
  font-size: 1.3rem;
  font-weight: 200;
  color: #fafafa;
  padding: 1rem;
}

.planning {
  height: 100vh;
  padding-top: 0rem;
  padding-bottom: 4rem;
  background-color: #fff;
}
.mockMeal {
  height: 100px;
  border-bottom: 1px solid black;
}

.planningDivider {
  margin-bottom: 1px;
}

.singleDay {
  height: 100vh;
}
 .plan__wrapper {
  height: 94vh;
}

.day__list {
  min-height: 250px;
}

.planning.ant-list-item {
  min-height: 300px;
}