.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4.5rem;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
  margin-bottom: 3rem;
}

.loading {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-layout {
  /* background: #f3f2ea; */
}