.day {
  /* background-color: #47494E; */
  height: 7rem;
  width: 95vw;
  color: #fafafa;
  margin-bottom: 10px;
  margin-left: 7px;
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.30), 0 0px 2px 0 rgba(0, 0, 0, 0.08);
}

.monday .day:nth-child(1) {
  background-color: #BC7653;
}

.monday .day:nth-child(2) {
  background-color: #945332
}

.monday .day:nth-child(3) {
  background-color: #6D3213
}

.tuesday .day:nth-child(1) {
  background-color: #9EC3B7;
}

.tuesday .day:nth-child(2) {
  background-color: #7FA396
}

.tuesday .day:nth-child(3) {
  background-color: #608378
}

.wednesday .day:nth-child(1) {
  background-color: #DB0000;
}

.wednesday .day:nth-child(2) {
  background-color: #B80000
}

.wednesday .day:nth-child(3) {
  background-color: #960000
}

.thursday .day:nth-child(1) {
  background-color: #008ED7;
}

.thursday .day:nth-child(2) {
  background-color: #006BB1
}

.thursday .day:nth-child(3) {
  background-color: #004A8C
}

.friday .day:nth-child(1) {
  background-color: #C9448A
}

.friday .day:nth-child(2) {
  background-color: #A41B6A
}

.friday .day:nth-child(3) {
  background-color: #81004C
}

.saturday .day:nth-child(1) {
  background-color: #01C383;
}

.saturday .day:nth-child(2) {
  background-color: #448364
}

.saturday .day:nth-child(3) {
  background-color: #005B51
}

.sunday .day:nth-child(1) {
  background-color: #919191;
}

.sunday .day:nth-child(2) {
  background-color: #5E5E5E
}

.sunday .day:nth-child(3) {
  background-color: #303030
}

.day__side {
  min-width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.day {
  display: flex;
  flex-direction: column
}

.day__main--title {
  justify-self: flex-end;
  font-size: 1rem;
  flex-basis: 1;
  margin-bottom: 5px;
}

.day__main--title p {
  text-transform: uppercase;
  margin: 8px;
}

.day__main--body {
  padding-left: 20px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  flex-basis: 2;
}