.day {
  /* background-color: #47494E; */
  height: 7rem;
  width: 100vw;
  color: #fafafa;
  border-bottom: 1px solid black;
  margin: 5px;
}

.monday .day:nth-child(1) {
  background-color: #FDB661;
}

.monday .day:nth-child(2) {
  background-color: #DE7E67
}

.monday .day:nth-child(3) {
  background-color: #A55669
}

.tuesday .day:nth-child(1) {
  background-color: #4B82A2;
}

.tuesday .day:nth-child(2) {
  background-color: #74988C
}

.tuesday .day:nth-child(3) {
  background-color: #43655A
}

.wednesday .day:nth-child(1) {
  background-color: #2AC195;
}

.wednesday .day:nth-child(2) {
  background-color: #338984
}

.wednesday .day:nth-child(3) {
  background-color: #4E5875
}

.thursday .day:nth-child(1) {
  background-color: #BCA79D;
}

.thursday .day:nth-child(2) {
  background-color: #E69B76
}

.thursday .day:nth-child(3) {
  background-color: #55433B
}

.friday .day:nth-child(1) {
  background-color: #4B82A2;
}

.friday .day:nth-child(2) {
  background-color: #74988C
}

.friday .day:nth-child(3) {
  background-color: #43655A
}

.saturday .day:nth-child(1) {
  background-color: #4B82A2;
}

.saturday .day:nth-child(2) {
  background-color: #74988C
}

.saturday .day:nth-child(3) {
  background-color: #43655A
}

.sunday .day:nth-child(1) {
  background-color: #4B82A2;
}

.sunday .day:nth-child(2) {
  background-color: #74988C
}

.sunday .day:nth-child(3) {
  background-color: #43655A
}

.day__side {
  min-width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.day {
  display: flex;
  flex-direction: column
}

.day__main--title {
  justify-self: flex-end;
  font-size: 1rem;
  flex-basis: 1;
  margin-bottom: 5px;
}

.day__main--title p {
  text-transform: uppercase;
  margin: 8px;
}

.day__main--body {
  padding: 25px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  flex-basis: 2;
}