.login-page {
  height: 100vh;
  background-color: #252134;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.login-page__logo {
  max-width: 100vw;
  display: flex;
  justify-content: center
}

.login-page__logo img {
  max-width: 60%;
}

.login-page__form {
  font-size: 1.3rem;
  font-family: 'Nunito', sans-serif;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  color: #e69b76;
  display: flex;
  flex-direction: column;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login-form-forgot {
  font-family: 'Nunito', sans-serif;
  color: #e69b76;
}

.login-form-button {
  color: #000000;
  background-color: #e69b76;
  border: 1px solid #e69b76;
}

.login-form-button:active,
.login-form-button:focus,

.login-form-button:hover
 {
  color: #e69b76;
  background-color: #0000;
  border: 1px solid #e69b76;
}
.login-form__options {
  width: 100%
}