.ant-layout-footer {
  padding: 0;
  height: 6vh;
  background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.bottom-bar {
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
}

.bottom-bar__option a {
  color: #e69b76
}
